<span class="navbar navbar-text">
	Guest
</span>
@Html.ActionLink("Password login", "PasswordLogin", "Account", new { @class = "btn btn-success"})
@Html.ActionLink("Registration", "Registration", "Account", new { @class = "btn btn-primary"})
